@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

:root {
    --color-primario: #6A9AFF;
    --background-color: #f9f5f0;
    --dark-color: #151515;
}

.foto_principal{
    background-image: linear-gradient(100deg, #000000, #00000020), url('/aimargoikoa.github.io-1/Imagenes/Imagen_principal.jpg');
    height: 60rem;
    background-size: cover;
    background-position: center;
}

.foto_contenido{
    max-width: 90rem;
    margin: 0 auto;
    padding: 25rem 0;
}

.foto_contenido p{
    color: var(--color-primario);
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.foto_contenido h2{
    color: white;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.foto_contenido a{
    margin-top: 2rem;
    text-decoration: none;
    color: white;
    background-color: var(--color-primario);
    display: inline-block;
    padding: 1rem 3rem;
    text-transform: uppercase;
    border-radius: 3rem;
}