@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

:root {
    --color-primario: #6a9aff;
    --background-color: #f9f5f0;
    --dark-color: #151515;
}

html {
    font-size: 62.5%;
    font-family: 'Protest Riot', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*********************************/

header {
    max-width: 120rem;
    margin: 0 auto;
}

.h1 {
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
}

.container-1 {
    background-color: var(--background-color);
}

.container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 20px;
}

.atencion-cliente {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: 70px;
}

.atencion-cliente a:hover{
    color: black;
    text-decoration: none;
}

.atencion-cliente:hover{
    transform: scale(1.20);
}

.atencion-cliente a{
    color: black;
    text-decoration: none;
}

.atencion-cliente a:visited{
    color: black;
    text-decoration: none;
}

.atencion-cliente i {
    font-size: 4rem;
}

.contenido-atencion-cliente {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.contenido-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.contenido-logo img {
    width: 280px;
}

.contenido-logo:hover{
    transform: scale(1.20);
}

.container-usuario i:hover{
    transform: scale(1.20);
}

.container-usuario {
    display: flex;
    gap: 1rem;
    cursor: pointer;
    margin-right: 50px;
}

.container-usuario .fa-cart-shopping {
    font-size: 3.5rem;
    color: var(--color-primario);
    padding-left: 1rem;
}

.contenido-carrito {
    display: flex;
    flex-direction: column;
}

.container-usuario .fa-user {
    font-size: 3.5rem;
    color: var(--color-primario);
    padding-right: 2.5rem;
    border-right: 3px dotted #6D83B9;
}

/******************************************/

.container-navbar {
    background-color: var(--color-primario);
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;   
    margin-inline: 40px;
}

.navbar .fa-bars-staggered {
    display: none;
}

.menu {
    display: flex;
    gap: 2rem;
}

.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    font-size: 2rem;
    color: var(--dark-color);
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    padding: 15px;
}

manu a::after {
    content: '';
    width: 1.5rem;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all 0.3s ease;
}

.menu a:hover::after {
    opacity: 1;
}

.menu a:hover {
    color: white;
}

.form {
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    background-color: #fff;
    height: 4.4rem;
    border-radius: 2rem;
    overflow: hidden;
}

.form input {
    outline: none;
    font-family: inherit;
    border: none;
    width: 25rem;
    font-size: 1.4rem;
    padding: 0 2rem;
    color: #777;
    cursor: pointer;
}

.form input::-webkit-search-cancel-button {
    appearance: none;
}

.form input{
    cursor: text;
}

.form .Buscar {
    border: none;
    background-color: var(--color-primario);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
}

.Buscar i {
    font-size: 2rem;
    color: #fff;
}

/**************************************/

.dropdown {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.dropdown_content li {
    padding: 15px;
}

.dropdown_content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown:hover .dropdown_content {
    display: block;
    background-color: #6a9aff;
    padding: 5px;
}

/****************************************/

.container-pie{
    background-color: var(--color-primario);
}

.container-pie{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 3rem;
}

.menu-pie{
    display: grid;
    grid-template-columns: repeat(3, 1fr) 30rem;
    gap: 3rem;
    justify-items: center;
}

.titulo-pie{
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
}


.info-contacto,
.informacion,
.ayuda,
.noticias{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.info-contacto ul,
.informacion ul,
.ayuda ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.info-contacto ul li,
.informacion ul li,
.ayuda ul li{
    list-style: none;
    color: black;
    font-size: 1.4rem;
    font-weight: 300;
}

.informacion ul li a,
.ayuda ul li a{
    text-decoration: none;
    color: black;
    font-weight: 300;
}

.informacion ul li a:hover,
.ayuda ul li a:hover{
    color: white;
}

.iconos-redes-sociales{
    display: flex;
    gap: 1.5rem;
}

.iconos-redes-sociales span{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconos-redes-sociales span i {
    color: white;
    font-size: 1.2rem;
}

.facebook{
    background-color: #3b5998;
}

.twitter{
    background-color: var(--dark-color);
}

.youtube{
    background-color: red;
}

.whatsapp{
    background-color: #30D24E;
}

.instagram {
	background: linear-gradient(
		#405de6,
		#833ab4,
		#c13584,
		#e1306c,
		#fd1d1d,
		#f56040,
		#fcaf45
	);
}

.contenido-noti p{
    font-size: 1.4rem;
    color: black;
    font-weight: 300;
}

.contenido-noti input{
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid black;
    cursor: pointer;
    padding: 0.5rem 0 1.2rem;
    color: black;
    display: block;
    margin-bottom: 3rem;
    margin-top: 3rem;
    width: 100%;
    font-family: inherit;
}

.contenido-noti input::-webkit-input-placeholder{
    color: black;
}

.contenido-noti button{
    border: none;
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 1rem 3rem;
    border-radius: 2rem;
    font-size: 1.4rem;
    font-family: inherit;
    cursor: pointer;
    font-weight: 600;
}

.contenido-noti button:hover{
    background-color: var(--background-color);
    color: var(--color-primario);
}

.copyright{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    border-top: 1px solid black;
}

.copyright p{
    font-weight: 400;
    font-size: 1.6rem;
}

.informacion ul li img{
    width: 200px;
    border-radius: 50%;
}

.copyright img{
    width: 300px;
}

.contenido-noti button:hover{
    transform: scale(1.20);
}

.contenido-logo:hover{
    transform: scale(1.20);
}

.container-usuario i:hover{
    transform: scale(1.20);
}
/**************************************/

.trail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.imagen img{
    border-radius: 20px;
}
.columna {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.producto {
    margin: 0 80px;
    perspective: 1000px; 
}

.imagen {
    position: relative;
    width: 400px;
    height: 400px;
    transition: transform 2s;
    transform-style: preserve-3d;
}

.imagen:hover {
    transform: rotateY(180deg); 
}

.imagen img {
    width: 100%;
    backface-visibility: hidden; 
}

.descripcion {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    transform: rotateY(180deg); 
    transform-style: preserve-3d; 
    backface-visibility: hidden; 
}

.descripcion h3 {
    margin-top: 0;
}

.descripcion{
    font-size: 1.5rem;
}

@media screen and (min-width: 1024px) {
    .columna {
        display: flex;
        flex-wrap: wrap;
    }

    .producto {
        width: 33.33%; 
        box-sizing: border-box;
        padding: 0 15px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    .columna {
        display: flex;
        flex-wrap: wrap;
    }

    .producto {
        width: 50%; 
        box-sizing: border-box;
        padding: 0 15px;
    }
}


@media screen and (max-width: 767px) {
    .columna {
        display: flex;
        flex-wrap: wrap;
    }

    .producto {
        width: 100%; 
        box-sizing: border-box;
        padding: 0 15px;
    }
}
