div.cabecera {
    display: inline-block;
    /* Mejor crep que la pagina en blanco y luego a los menus les metemos colores*/
    background-color: white;
    width: 100%;
    margin: 0;
    
}

.enlaces {
    display: inline-block;
    width: 70%;
    padding-left: 0px;

    
}

.enlaces p {
    display: inline-block;
    width: 20%;
    margin-top: 25px;
}

div.dropdown{
    display: inline-block;
    width: 20%;
}
