@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

:root {
    --color-primario: #6A9AFF;
    --background-color: #f9f5f0;
    --dark-color: #151515;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    width: 100%;
    background-color: #6A9AFF;
    margin: 0px;
    font-family: 'Protest Riot' ,sans-serif;
    padding: 10px;
}

p.escoger {
    width: 100%;
    text-align: center;
    margin: 0px;
    font-family: 'Protest Riot' ,sans-serif;
    background-color: #dbd9d5;
    padding: 10px;
}

.titulo {
    width: 100%;
}

.cabecera2 {
    width: 100%
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}



.producto {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

img {
    margin-bottom: 35px;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.producto-descripcion {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.seccion {
    margin-bottom: 20px;
}

h3 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

.texto-producto {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.texto-producto.precio p {
    font-weight: bold;
    font-size: 16px;
}

.texto-producto.precio del {
    color: red;
    font-size: 14px;
}

.texto-producto.descripcion p {
    font-size: 16px;
}

.texto-producto.especificaciones ul {
    list-style-type: none;
    padding-left: 0;
}

.texto-producto.especificaciones li {
    font-size: 16px;
    margin-bottom: 15px;
}
